.form-control-custom {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 13px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}


@media (max-width:991px){

    .form-control-custom{font-size: 11px;}
}

@media (max-width:480px){

    .form-control-custom{font-size: 10px;}
}

